<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configure-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings-->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/equipmentbooking</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>
        <!--Choose the Hibernate dialect for the specific database type-->
            <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property> <!--tells hibernate to prints sql statements for every query made-->

        <mapping class="model.resource.Equipment"> <!--specifies the class that needs mapping-->user" /> <!--specifies the class that needs mapping-->

    </session-factory>
</hibernate-configuration>